@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,700&display=swap);

@import url('null.css');

body {
    font-family: Montserrat;
}

/* ============================================== */

.hiding-block {
    height: 100vh;
    width: 100%;
    /* padding-bottom: 172px; */
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.monitor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* border-top: 31px solid #FFF; */
    padding: 30px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    pointer-events: none;
    z-index: 5;
}

.monitor__cover-block {
    flex: 1 1 auto;
    position: relative;
    padding: 0px 40px;
}

.monitor__border-block {
    width: 100%;
    height: 100%;
    border-radius: 30px 30px 0px 0px;
    border: 40px solid #343434;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 -31px 0 #FFF;
}

.monitor__bottom-block {
    width: 100%;
    height: 70px;
    border-radius: 0px 0px 30px 30px;
    background-color: #E7E7E7;
    margin: 0 auto;
}

.monitor__footing {
    width: 57px;
    height: 50px;
    background: linear-gradient(90deg, #D0D0D0 0%, #9D9D9D 100%) 0 0 no-repeat;
    margin: 0 auto;
}

.monitor__plate {
    width: 451.302px;
    height: 12px;
    border-radius: 10px 10px 0px 0px;
    background-color: #555;
    margin: 0 auto;
}

.monitor__buttons {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 105px;
}

.monitor__buttons-mobile {
    display: none;
}

.monitor__scroll-buttons {
    display: flex;
    align-items: center;
    column-gap: 70px;
}

.monitor__buttons-mobile .monitor__scroll-buttons {
    column-gap: 50px;
}

.monitor__button {
    border-radius: 50px;
    background-color: #313131;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding: 9px 21px;
    pointer-events: all;
    box-shadow: 2px 2px 4px 1px #1f1e1e;
}

.monitor__button:active {
    box-shadow: 0px 0px 0px 0px #1f1e1e;
    transform: translate(2px);
}

.monitor__buttons-mobile .monitor__button {
    box-shadow: 2px 2px 8px 0px #D0D0D0;
}

.monitor__buttons-mobile .monitor__button:active {
    box-shadow: 0px 0px 4px 0px #D0D0D0;
    transform: translate(2px);
}

.monitor__buttons-mobile .monitor__language-box .collapse {
    box-shadow: 0px 0px 6px 1px #D0D0D0;
    border-radius: 0px 0px 10px 10px;
}

.monitor__language-button::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 10px;
    background: url('../img/icons/arrow.svg') 0 0 / cover no-repeat;
    margin-left: 8px;
    position: relative;
    bottom: 1px;
    left: 0;
    transition: all 0.3s ease 0s;
    transform: rotate(-180deg);
}

.monitor__language-button {
    position: relative;
    z-index: 5;
}

.monitor__language-button.active::after {
    transform: rotate(0deg);
}

.monitor__language-box {
    position: relative;
}

.monitor__language-box .collapse {
    width: 97%;
    position: absolute;
    top: 50%;
    left: 3px;
    z-index: 1;
    overflow: hidden;
    height: 0;
    transition: all 0.3s ease 0s;
    pointer-events: all;
    box-shadow: 0px 0px 6px 1px #1f1e1e;
    border-radius: 0px 0px 10px 10px;
}

.monitor__language-box .collapse__body {
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(49, 49, 49, 0.94);
    padding: 30px 7px 18px 7px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

/* ============================================== */

.wrapper {
    padding-top: 70px;
    padding-left: 70px;
    height: calc(100% - 172px);
    position: relative;
    z-index: 1;
}

.wrapper__hiding-block {
    padding: 0px 30px;
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 132px;
    pointer-events: none;
    z-index: 10;
}

.wrapper__hiding-block-body {
    background-color: #fff;
}

.wrapper__hiding-block::before {
    content: "";
    display: block;
    width: 100%;
    height: 40px;
    background-color: #343434;
    margin-top: -40px;
}

/* ============================================== */

.header {
    height: 100%;
    background: linear-gradient(rgba(42, 39, 44, 0.94), rgba(42, 39, 44, 0.94)), url('../img/background/bg-code.webp') 50% / cover no-repeat;
}


/* linear-gradient(rgba(42, 39, 44, 0.94), rgba(42, 39, 44, 0.94)) */
.header__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__text-block {
    text-align: center;
    color: #FFF;
    font-family: Montserrat Alternates;
    text-shadow: 2px 2px 4px #DDD;
}

.header__name {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.214em;
    margin-bottom: 1.428em;
}

.header__occupation {
    font-size: 2.428rem;
    font-weight: 700;
    line-height: 1.4em;
}

/* ============================================== */

.main {
    padding-bottom: 172px;
}

.main__skills {}

.skills {
    width: 100%;
    height: 900px;
    background: linear-gradient(180deg, rgba(42, 39, 44, 1) 0%, #786E7C 43.75%, #A499A9 100%);
}

.skills__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills__body {
    padding: 70px 140px;
    position: relative;
}

.skills__circle {
    color: #fff;
    font-size: 1.1428rem;
    width: 36.5625em;
    height: 36.5625em;
    border-radius: 585px;
    background-color: #5A515F;
    box-shadow: 3px 3px 25px 0px #DEDEDE;
    padding: 75px 0px;
}

.skills__title {
    text-align: center;
    text-shadow: 2px 2px 4px #000;
    font-size: 1.714rem;
    font-weight: 700;
    line-height: 1.2083em;
    margin-bottom: 2.291em;
}

.skills__list {
    padding: 0px 75px 0px 110px;
    font-weight: 600;
    line-height: 1.25em;
    text-shadow: 1px 1px 4px #000;
}

.skills__item {
    padding-left: 18px;
    margin-bottom: 18px;
    position: relative;
}

.skills__item::before {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #E1B030;
    position: absolute;
    top: 6px;
    left: 0;
}

.skills__item:last-child {
    margin-bottom: 0px;
}

.skills__icon {
    width: 103px;
    height: 83px;
}

.skills__icon img {
    object-fit: cover;
}

.skills__icon source {
    object-fit: cover;
}

.skills__icon-html {
    position: absolute;
    top: 0;
    left: 80px;
}

.skills__icon-css {
    position: absolute;
    top: 0;
    right: 80px;
}

.skills__icon-js {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
}

.skills__icon-sass {
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
}

.skills__icon-gulp {
    position: absolute;
    bottom: 10px;
    left: 80px;
}

.skills__icon-wordpress {
    position: absolute;
    bottom: 10px;
    right: 80px;
}

/* ============================================== */

.main__projects {}

.projects {
    padding: 40px 0;
    background-color: #A499A9;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    font-size: 1.714rem;
    font-weight: 700;
    line-height: 1.416em;
}

.projects__container {
    padding: 0 40px;
}

.projects__title {
    text-align: center;
    margin-bottom: 2.916em;
}

.projects__items {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    column-gap: 30px;
    max-width: 900px;
}

.projects__item {
    position: relative;
}

.item-projects__in_developement {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #aaaaaa;
    text-shadow: 2px 2px rgb(26, 26, 26);
}

.item-projects {
    flex: 0 1 48%;
    margin-bottom: 80px;
}

.item-projects__wrapper {
    position: relative;
}

.item-projects__button {}

.button-item {
    background-color: #5197A8;
    padding: 10px;
    width: 100%;
    font-size: 1.571rem;
    font-weight: 600;
    line-height: 1.416em;
    text-shadow: inherit;
}

.button-item.active {
    background-color: #3f7b8a;
}

.button-item.hover {
    background-color: #3f7b8a;
}

.button-item__info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-item__title {
    margin-right: 1.136em;
}

.button-item__arrow {
    position: relative;
    top: 2px;
    left: 0;
    width: 26px;
    transform: rotate(-180deg);
    transition: all 0.3s ease 0s;
}

.button-item.active .button-item__arrow {
    transform: rotate(0deg);
}

.button-item__arrow::before {
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
}

.button-item__arrow::after {
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(-45deg);
}

.collapse {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 0;
    transition: all 0.3s ease 0s;
}

.collapse__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 35px 15px;
    transform: translate(0, -100%);
    transition: all 0.3s ease 0s;
}

.collapse__body.open {
    transform: translate(0, 0);
}

.collapse__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 25px;
}

.collapse__button {
    padding: 15px 35px;
    border-radius: 30px;
    background-color: #5197A8;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 25px;
}

.collapse__button:hover {
    background-color: #3f7b8a;
}

.collapse__block-text {
    color: rgba(255, 255, 255, 0.75);
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

.collapse__text {
    margin-bottom: 6px;
}

.collapse__text:last-child {
    margin-bottom: 0px;
}

.item-projects__image {

    overflow: hidden;
}

.item-projects__image img {
    width: 100%;
    height: 100%;
    object-position: top;
}

/* ============================================== */

.circle-to-top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #418a9c;
    position: absolute;
    bottom: 190px;
    left: 50%;
    z-index: 20;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
}

.circle-to-top.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.circle-to-top.noEvent {
    pointer-events: none;
}

.arrow-to-top {
    padding-left: 30px;
    width: 30px;
    height: 22px;
    position: relative;
    transition: all 0.3s ease 0s;
}

.arrow-to-top.rotate {
    transform-origin: 50% 53%;
    transform: rotate(180deg);
}

.arrow-to-top::before {
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    background-color: #418a9c;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-45deg);
}

.arrow-to-top::after {
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    background-color: #418a9c;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(45deg);
}

/* ============================================== */
/* ============================================== */
/* ============================================== */

@media (max-width: 1440px) {
    .skills__body {
        padding: 50px 90px;
        position: relative;
    }
}

@media (max-width: 1024px) {
    .header {
        height: 100%;
        background: linear-gradient(rgba(42, 39, 44, 1), rgba(42, 39, 44, 1));
    }

    .header__name {
        font-size: 1.571rem;
    }

    .header__occupation {
        font-size: 2rem;
    }

    /* ========================= */

    .skills {
        height: 720px;
    }

    .skills__body {
        padding: 0px;
    }

    .skills__icon {
        display: none;
    }

    /* ========================= */

    .projects {
        padding: 25px 0;
    }

    /* ========================= */
}

@media (max-width: 920px) {
    .skills__circle {
        font-size: 1.0714rem;
    }

    .skills__title {
        font-size: 1.428rem;
    }

    .skills__list {
        padding: 0px 70px 0px 130px;
    }

    /* ========================= */

    .projects__items {
        flex-direction: column;
        align-items: center;
        max-width: 600px;
        column-gap: none;
        row-gap: 30px;
    }

    .item-projects {
        margin-bottom: 0;
    }

    /* ========================= */
}

@media (max-width: 768px) {
    .monitor {
        display: none;
    }

    .monitor__buttons-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 60px;
        background-color: rgba(42, 39, 44, 1);
    }

    .wrapper {
        padding: 0px;
        height: 100%;
        position: relative;
        z-index: 1;
    }

    .wrapper__hiding-block {
        display: none;
    }

    .wrapper::after {
        content: "";
        display: none;
    }

    .main {
        padding-bottom: 0px;
    }

    .circle-to-top {
        bottom: 40px;
    }

    /* ========================= */

    .header__name {
        font-size: 1.4rem;
    }

    .header__occupation {
        font-size: 1.7rem;
    }

    /* ========================= */

    .skills {
        height: 580px;
    }

    .skills__circle {
        font-size: 1rem;
        width: 32em;
        height: 32em;
        padding: 30px 0px;
    }

    .skills__title {
        font-size: 1.428rem;
    }

    .skills__list {
        padding: 0px 20px 0px 60px;
    }

    /* ========================= */

    .projects {
        padding: 0px 0px 30px 0px;
    }

    .projects__title {
        margin-bottom: 1.5em;
    }

    /* ========================= */
}

@media (max-width: 540px) {
    .header__name {
        font-size: 1.3rem;
    }

    .header__occupation {
        font-size: 1.5rem;
    }

    .monitor__buttons-mobile {
        padding: 0px 25px;
    }

    .monitor__buttons-mobile .monitor__scroll-buttons {
        column-gap: 20px;
    }

    .monitor__buttons-mobile .monitor__button {
        font-size: 16px;
        line-height: 18px;
        padding: 9px 20px;
    }

    .monitor__buttons-mobile .monitor__language-button::after {
        width: 16px;
        height: 8px;
        bottom: 2px;
        left: 0;
        margin-left: 4px;
    }

    /* ========================= */

    .skills__circle {
        font-size: 1.1428rem;
        border-radius: 0px;
        width: auto;
        height: auto;
        background-color: transparent;
        box-shadow: none;
        padding: 65px 0px;
    }

    .skills__list {
        padding: 0px 50px;
    }

    /* ========================= */
}

@media (max-width: 430px) {
    .monitor__buttons-mobile {
        padding: 0px 20px;
    }

    .monitor__buttons-mobile .monitor__scroll-buttons {
        column-gap: 15px;
    }

    .monitor__buttons-mobile .monitor__button {
        font-size: 14px;
        line-height: 16px;
        padding: 8px 14px;
    }

    .monitor__buttons-mobile .monitor__language-button::after {
        width: 14px;
        height: 7px;
    }

    /* ========================= */

    .skills__circle {
        font-size: 1rem;
        padding: 60px 0px;
    }

    .skills__list {
        padding: 0px 20px;
    }

    /* ========================= */

    .projects__container {
        padding: 0 25px;
    }

    .button-item {
        font-size: 1.1rem;
    }

    .button-item__arrow {
        top: 1px;
        left: 0;
        width: 20px;
        padding-left: 20px;
    }

    .button-item__arrow::before {
        width: 13px;
    }

    .button-item__arrow::after {
        width: 13px;
    }

    /* ========================= */
}